$fa-font-path: '~fontawesome/webfonts';

// https://fontawesome.com/search?o=r&m=free
@import '~fontawesome/scss/fontawesome';
@import '~fontawesome/scss/brands';
@import '~fontawesome/scss/solid';

// Application Styles

#organization-sidebar {
  width: 16rem;
}

#organization-sidebar-small {
  width: 4.5rem;
}

#events,
#eventTypes,
#occurences,
#tasks,
#nav-event-type-events-table,
#nav-event-occurences-table,
#nav-issue-tasks-table {
  .td-affects-productivity,
  .th-affects-productivity {
    min-width: 190px;
    width: 1%;
  }

  .td-all-day,
  .th-all-day {
    min-width: 100px;
    width: 1%;
  }

  .td-all-day-datetime {
    min-width: 220px;
    width: 1%;
  }

  .th-duration {
    min-width: 150px;
    width: 1%;
  }

  .td-duration {
    min-width: 90px;
    width: 1%;
  }

  .td-event-type,
  .th-event-type {
    min-width: 105px;
    width: 1%;
  }

  .td-logged {
    min-width: 50px;
    width: 1%;
  }

  .th-logged {
    min-width: 150px;
    width: 1%;
  }

  .th-start-datetime,
  .th-end-datetime {
    min-width: 150px;
    width: 1%;
  }

  .td-start-datetime,
  .td-end-datetime {
    min-width: 320px;
    width: 1%;
  }
}

#issues,
#nav-project-issues-table {
  .td-estimate-option,
  .th-estimate-option {
    min-width: 150px;
    width: 1%;
  }

  .td-external-url {
    min-width: 585px;
    width: 1%;
  }

  .th-external-url {
    min-width: 120px;
    width: 1%;
  }

  .td-status-option,
  .th-status-option {
    min-width: 150px;
    width: 1%;
  }
}

#projects,
#nav-estimate-projects-table,
#nav-status-projects-table {
  .td-source-code-management-url {
    min-width: 465px;
    width: 1%;
  }

  .th-source-code-management-url {
    min-width: 315px;
    width: 1%;
  }
}

#toggleErrors {
  cursor: pointer;
}

#resources,
#nav-project-resources-table {
  .td-url {
    min-width: 250px;
    width: 1%;
  }
}

button:disabled {
  cursor: not-allowed;
}

.card-condensed {
  padding: .375rem .75rem;
  margin-bottom: 0;
}

.code-text {
  padding: 0.075rem 0rem;
}

.btn-link {
  text-decoration: none;
}

.external-link {
  text-decoration: underline;
  cursor: pointer;
}

.form-check-input-custom {
  float: none !important;
  width: 3em !important;
  height: 1.25em;
}

.full-width {
  width: 100%;
}

.hidden {
  display: none;
}

.id-link {
  text-decoration: none !important;
}

.is-invalid .invalid-feedback {
  display: block;
}

.nav-flush {
  margin-bottom: -9px;
}

.swatchButton {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

.table-vertical-center {
  thead,
  tbody {
    tr {
      th,
      td {
        vertical-align: middle;
      }
    }
  }
}

.td-boolean {
  min-width: 100px;
  width: 1%;
}

.td-color {
  min-width: 175px;
  width: 1%;
}

.td-color-display {
  min-width: 200px;
  width: 1%;
}

.th-min,
.td-min {
  min-width: 50px;
  width: 1%;
}

.td-select {
  min-width: 200px;
  width: 1%;
}

.td-url {
  min-width: 500px;
  width: 1%;
}

.toggle-bookmarked {
  cursor: pointer;
}

.vertical-divider {
  height: 3rem;
  width: 100%;
}

.vertical-vr {
  flex-shrink: 0;
  min-height: calc(100vh - 96px);
  width: 1px;
}
